<div ng-controller="protect" ng-init="load()">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" ng-click="show=true">Hội đồng bảo vệ </a>
        </li>
    </ul>
    <!--  content tab  -->
    <div style="min-height: 400px; background-color: antiquewhite; margin-bottom : 5px; margin-top : 5px;">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th> Mã HD </th>
                    <th> Tên HD </th>
                    <th> Mã Khoa </th>
                    <th> Khoa </th>
                    <th> Ngày thành lập </th>
                    <th> Năm học </th>
                    <th> # </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in hd">
                    <td>
                        <input ng-show="show" type="checkbox" name="" id="" value="{{x.IdDeTai}}">
                    </td>
                    <td>{{x.Id}} </td>
                    <td>{{x.TenHd}} </td>
                    <td>{{x.IdKhoa}} </td>
                    <td>{{x.TenKhoa}} </td>
                    <td>{{x.NgayTL}} </td>
                    <td>
                        <a ng-click="detail($index)" data-toggle="modal" data-target="#myModal">Chi tiết</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" ng-click="precreate()" data-toggle="modal" data-target="#myModal" style="margin: 2px " class="btn btn-default">Tạo HD</button>
    <!-- HD detail -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chi tiết HD bảo vệ</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="background-color: azure">
                        <label>Hội đồng bảo vệ</label>
                        <!-- infor -->
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-2">ID:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="hdInfor.Id" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Tên HD:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="hdInfor.TenHd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Khoa:</label>
                                <div class="col-sm-10" >
                                    <select class="form-control" style="width: 300px" ng-value="hdInfor.IdKhoa" ng-model="hdInfor.IdKhoa" ng-disabled="ahihi" ng-click="clk()">
                                        <option ng-repeat="x in faculties" value="{{x.MaKhoa}}">{{x.TenKhoa}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Ngày TL:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="hdInfor.NgayTL" disabled>
                                </div>
                            </div>
                        </form>
                        <!-- detail  -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Mã GV </th>
                                    <th> Tên GV </th>
                                    <th> Vị trí </th>
                                    <th> # </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in hdDetail">
                                    <td> {{x.IdGV}}</td>
                                    <td> {{x.TenGV}} </td>
                                    <td> {{x.ViTri}} </td>
                                    <td>
                                        <a ng-click="delete($index)">Xóa</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" style="margin: 2px " class="btn btn-default" ng-click="list()">Thêm</button>
                    <div class="col-sm-12" style="background-color: silver" ng-show="add">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Mã GV </th>
                                    <th> Tên GV </th>
                                    <th> Học hàm</th>
                                    <th> Học vị </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in coachers">
                                    <td>
                                        <input type="checkbox" ng-click="push($index)">
                                    </td>
                                    <td> {{x.Id}}</td>
                                    <td> {{x.Ten}} </td>
                                    <td> {{x.HocHam}} </td>
                                    <td> {{x.HocVi}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer btn-group">
                    <button type="button" class="btn btn-default" ng-click="submit()">Ghi nhận</button>
                    <button type="button" class="btn btn-default" ng-click="delete1()" ng-show="deleteBtn">Xóa HĐ</button>
                </div>
            </div>
        </div>
    </div>

</div>