<div ng-controller="managetopic" ng-init="load()">
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger">Lọc theo :</li>
        <li class="list-group-item list-group-item-info">
            <label>Khoa:</label>
            <span>
                <select class="form-control" style="width: 300px" ng-model="khoa" ng-change="seach()">
                    <option ng-repeat="x in faculties" value="{{x.MaKhoa}}">{{x.TenKhoa}}</option>
                </select>
            </span>
        </li>
    </ul>
    <!--  content tab  -->
    <div style="min-height: 400px; background-color: antiquewhite; margin-bottom : 5px; margin-top : 5px;">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> Mã đề tài </th>
                        <th> Tên đề tài </th>
                        <th> Nội dung </th>
                        <th> Mô tả </th>
                        <th> Độ khó </th>
                        <th> Giáo viên tạo </th>
                        <th> Trạng thái </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in topics">
                        <td>
                            <input type="checkbox" ng-hide="me" data-toggle="modal" data-target="#myModal" ng-click="preupdate($index,x.IdDeTai)">
                        </td>
                        <td> {{x.IdDeTai}}</td>
                        <td> {{x.TenDT}} </td>
                        <td> {{x.NoiDung}} </td>
                        <td> {{x.MoTa}}</td>
                        <td> {{x.DoKho}}</td>
                        <td> {{x.TenGV}} </td>
                        <td >
                            <div class="btn-group">
                                <button type="button" class="btn btn-default {{appBtn(x.TrangThai)}}" ng-click="changeStatus(x.IdDeTai,1)">Approve</button>
                                <button type="button" class="btn btn-default {{penBtn(x.TrangThai)}}" ng-click="changeStatus(x.IdDeTai,0)">Pending</button>
                                <button type="button" class="btn btn-default {{denBtn(x.TrangThai)}}" ng-click="changeStatus(x.IdDeTai,-1)">Deny</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>