<div ng-controller="manageproject" ng-init="load()">
    <ul class="nav nav-tabs">
        <li>
            <a data-toggle="tab" ng-click="tab(1)">Lịch sử </a>
        </li>
        <li class="active">
            <a data-toggle="tab" ng-click="tab(2)">Các sinh viên hiện tại</a>
        </li>
    </ul>
    <!--  content tab  -->
    <div style="height: 400px; background-color: antiquewhite; margin-bottom : 5px; margin-top : 5px;">
        <div ng-show="tab">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> Mã SV </th>
                        <th> Tên SV </th>
                        <th> Mã đề tài </th>
                        <th> Tên đề tài </th>
                        <th> Lần DK </th>
                        <th> Ngày DK </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in trainers">
                        <td>
                            <input ng-show="show" type="checkbox" ng-click="loadReport($index)">
                        </td>
                        <td>{{x.IdSinhVien}} </td>
                        <td>{{x.TenSinhVien}} </td>
                        <td>{{x.IdDeTai}} </td>
                        <td>{{x.TenDeTai}} </td>
                        <td>{{x.LanDangKy}} </td>
                        <td>{{x.NgayDangKy}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- thông tin sinh vien -->

    <!-- bao cao -->
    <h3>Báo cáo </h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th> Lần báo cáo </th>
                <th> Ngày báo cáo </th>
                <th> Nội dung </th>
                <th> File </th>
                <th> Kết quả </th>
                <th> Trạng thái </th>
                <th> # </th>
            </tr>
        </thead>
        <!-- <tbody ng-repeat="x in reports"> -->
        <tbody>
            <tr ng-repeat="x in reports">
                <td>
                    <input type="checkbox">
                </td>
                <td> {{x.LanBaoCao}}</td>
                <td> {{x.NgayBaoCao}} </td>
                <td> {{x.NoiDung}} </td>
                <td>
                    <a href="{{File}}">{{x.File}}</a>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="x.KetQua" style="width: 50px;">
                </td>
                <td> {{x.TrangThai}} </td>
                <td>
                    <button class="button" ng-click="save($index)"> Save </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>